Images/A-meditáció-fiziológiája.pdf
Images/kerelem_dontes.pdf
Images/kendermagos ppt.pdf
Images/1-combined.pdf
Images/A-mindfulness-és-különböző-meditációs-technikák-pszichológiai-alkalmazása.pptx
Images/02_spark_basics_practical_test.dbc
Images/Buddhizmus-és-kognitív-idegtudományok.pptx
nul
